
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px auto auto;
}

.bk {
    background-color: #001D3D;
    max-width: 100vw;
    min-height: 100vmin;
}
