@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.eachFilter>li>ul {
    display:none;
}

.eachFilter>li:hover>ul {
    display:block;
    
}

.eachFilter>li:hover>button {
    background-color: #bc00dd;
    color: white;
}

.li {
    list-style:none;
}

.btn {
    background-color: #70e000;
    width: 75%;
    height: 1.7rem;
    border-color: transparent;
    border-radius: 1rem;
    margin: 1%;
    font-family: 'Bangers', cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btn:hover {
    background-color: #bc00dd;
    color: white;
    cursor: pointer;
}

.btn2 {
    background-color: #bc00dd;
    width: 75%;
    height: 1.7rem;
    border-color: transparent;
    border-radius: 1rem;
    margin: 1%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.btn2:hover {
    background-color: #70e000; 
    color: black;
    cursor: pointer;
}
