.grid {
    grid-row: 2;
    grid-column: 1 /9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-right: 2rem;
    
}
.conteiner {
    grid-row: 1;
    grid-column: 3/9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.filters {
    grid-row: 1;
    grid-column: 1/3;
}